*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL */

img{
    width: 100%;
}

header{
    background-color: orangered;
    justify-content: center;
}

/* IDs */
#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

/* UTILITIES */
.flex{
    display: flex;
    flex-wrap: wrap;
}

.justify-btw{
    justify-content: space-between;
}

.justify-cntr{
    justify-content: center;
}

/* CLASSES */
.container{
    width: 80%;
    margin: auto;
}

.anchor{
    text-decoration: none;
    color: white;
    font-size: 0.6rem;
}

.logo-div{
    width: 100px;
    height: 23px;
    justify-content: center;
}

.col{
    width: calc(100% / 3 - 5px);
}

.row{
    width: 100%;
}

.discount-price{
    color: red;
    display: inline-block;
    font-size: 0.7rem;
    position: relative;
    bottom: 5px;
}
  
.full-price{
    color: black;
    text-decoration: line-through;
    display: inline-block;
    font-size: 0.7rem;
    position: relative;
    bottom: 5px;
}
  
.griffe{
    color: black;
    font-size: 0.65rem;
}
  
.discount-percent{
    padding: 3px 5px;
    display: inline-block;
    font-size: 0.65rem;
    color: white;
    background-color: red;
}
  
.sustainability{
    padding: 3px 5px;
    display: inline-block;
    font-size: 0.65rem;
    color: white;
    background-color: green;
}

.heart{
    display: inline-block;
    background-color: white;
    padding: 10px;
    position: relative;
    top: 40px;
    left: 320px;
}

.labels {
    position: relative;
    bottom: 130px;
}